@charset "UTF-8";
@import "reset.css";

@font-face {
    font-family: 'Cafe24Simplehae-v2.0';
    src: url('../font/Cafe24Simplehae-v2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'Cafe24Danjunghae-v2.0';
    src: url('../font/Cafe24Danjunghae-v2.0.ttf') format('truetype');
}

* {
    font-family: 'Cafe24Simplehae-v2.0';
}

body {
    background-color: #000; /* 블랙 배경 */
    color: #ff66b2; /* 핑크 톤 텍스트 */
}

h3 {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;	
}

/* 폼 스타일 */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    background: #1c1c1c; /* 다크 그레이 배경 */
    padding: 20px;
    border: 2px solid #ff66b2; /* 핑크 테두리 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(248, 198, 216, 0.3);
}

/* 입력 필드 스타일 */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ff66b2; /* 핑크 테두리 */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #2c2c2c; /* 어두운 입력 필드 배경 */
    color: #ff66b2; /* 핑크 톤 텍스트 */
}

/* 버튼 스타일 */
.button-style {
    padding: 10px 20px;
    border: 2px solid #ff66b2; /* 핑크 테두리 */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; /* 투명 배경 */
    color: #ff66b2; /* 핑크 텍스트 */
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px; /* 버튼 간 간격 */
}

.button-style:hover {
    background-color: #ff66b2; /* 핑크 배경 */
    color: #000; /* 블랙 텍스트 */
}
